{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Convert data collection to IFC</legend>
            <div class="form-group">
                {{ form.archive.label() }}
                {{ form.archive(class="form-control-file") }}
                {% if form.archive.errors %}
                {% for error in form.archive.errors %}
                <span class="text-danger">{{ error }}</span></br>
                {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
            {% if user_data == True %}
            <small class="text-muted ml-2">
                <a href="{{ url_for('users.download') }}"> -> Download Result</a>
            </small>
            {% else %}
            <small class="text-muted ml-2"></small>
            <a> No Result Yet</a>
            </small>
            {% endif %}
        </div>
    </form>
</div>
{% endblock content %}